*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navber{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding:1rem 2rem;
    margin-top:10px;

}
.logo {
    color:blue;
    font-size:1.5rem;
    font-weight: semibold;
    cursor:pointer;

    
}
.nav-links {
    list-style:none;
    display:flex;
    gap:1.5rem;

}
.nav-links li  a {
    text-decoration: none;
    color:black;
    font-size:24px;
    cursor:pointer;

}
.nav-links li a:hover {
    color:blue;

}
@media screen and (max-width: 768px) {
    .navber {
        flex-direction: column;
        padding: 1rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }
}